DOUBAO_SPEECH_KEY=xx # 火山引擎tts
# 接下来是火山引擎豆包大模型API
# 下面两个是用于音视频理解、agent的模型
ARK_API_KEY=xxx 
ARK_MODEL=doubao-seed-2-0-pro-260215
# 下面两个是豆包lite模型，因为pro不支持音频输入所以音频使用lite
ARK_LITE_API_KEY=ark-xxxx
ARK_LITE_MODEL=ep-xxxx